.margin-central {
  margin-inline: 20%;
}

.form-box {
  background-color: aliceblue;
}

.p-button {
  padding: 0 1rem 1rem 1rem;
}

@media screen and (max-width: 770px) {
  .form-scroll {
    overflow-y: scroll;
    max-height: 396px;
  }
}
