@import url('https://fonts.googleapis.com/css2?family=Merriweather+Sans:wght@500;800&display=swap');

* {
}

body, html {
  height: 100%;
  min-width: 100%;
  min-height: 100%;
  background-image: url("../src/assets/imgs/bg1.jpg");
  position: relative;
}

h1, h2, p, label, span {
  font-family: 'Merriweather Sans', sans-serif;
}

.filter {
  background-color: #2BB6BCE6;
}

body::-webkit-scrollbar {
  width: .95rem;               
}

body::-webkit-scrollbar-track {
  background: rgb(3 7 18);        
}

body::-webkit-scrollbar-thumb {
  background-color: #ff321a;           
  border: 3px solid rgb(3 7 18);
  border-radius: 20px;
}